.project-architecture-img img {
    padding: 20px;
    background-color: #FFF;
    width: 400px;
    max-width: 100%;
}

.page-project-image figcaption {
    font-size: 0.75em;
    font-weight: 400;
    background-color: #d5d5d5;
    height: 100%;
    padding: 10px;
}