/* VARIABLES AND GENERAL RULES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

:root {
    --light: #f0f5f9;
    --dark: #03030a;
    --mid: #364E68;
    /* DARK MODE??? */
    /* --light: #03030a;
    --dark: #f0f5f9;
    --mid: #364E68; */
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat.ttf");
}