/* VARIABLES AND GENERAL RULES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

:root {
    font-size: 16px;
    --light: #f0f5f9;
    --dark: #03030a;
    --mid: #364E68;
    /* --mid: #293440; */
    /* --light: #03030a;
    --dark: #f0f5f9;
    --mid: #364E68; */
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat.ttf");
}

a {
    text-decoration: none;
}

/* GLOBAL CONTENT */
html {
    /* min-height: 100vh; */
    /* height: 100%; */
    /* max-width: 1920px; */
    background-color: var(--light);
    color: var(--dark);
    margin: 0 auto;
    font-family: "Montserrat";
    background-color: #000;
    scroll-behavior: smooth;
}

body {
    /* height: 100%; */
    /* width: 100%; */
    position: relative;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto auto auto;
}

main {
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 2;
    background-color: var(--light);
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
}

header {
    grid-column: 1;
    grid-row: 1;
    background-color: #000;
    min-height: 150px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    position: relative;
    padding: 0 30px;
}

header img {
    object-fit: cover;
    filter: grayscale(0.25) opacity(0.25) hue-rotate(400deg);
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
}

.header-title-container {
    z-index: 20;
    display: grid;
    grid-auto-rows: auto;
    gap: 2px;
    color: var(--light);
}

.header-title-container h1 {
    font-size: 3rem;
}

.header-title-container span {
    text-align: center;
}

.header-title-container-contact {
    /* margin-right: 50px; */
    z-index: 20;
    display: none;
    grid-auto-rows: auto;
    gap: 15px;
}

.header-title-container-contact > a {
    color: var(--light);
    text-decoration: none;
    text-align: right;
    font-size: 0.85rem;
}

/* SIDEBAR */
aside {
    display: grid;
    grid-column: 2;
    grid-row: 1 / -1;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    position: fixed;
    min-height: 100vh;
    max-height: 100vh;
    height: 100%;
    width: 300px;
    background-color: var(--mid);
    color: var(--light);
}

aside .section {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

aside #section-1 {
    color: var(--light);
    padding: 20px;
}

aside #section-1 .aside-section-content {
    display: grid;
    grid-auto-rows: auto;
    gap: 20px;
    line-height: 25px;
}

.aside-content-name-title {
    display: grid;
    gap: 5px;
}

aside #section-1 .aside-section-content h3 {
    font-size: 2rem;
}

aside #section-1 .aside-section-content em {
    margin-top: 2px;
    font-size: 0.8rem;
}

.aside-section-content .content-div {
    padding: 15px 0;
    width: 100%;
}

.aside-section-content .content-div a {
    text-decoration: none;
    cursor: pointer;
    color: var(--light);
    font-size: 1rem;
}

.aside-menu {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.aside-menu-item {
    padding: 20px;
    height: 100%;
    width: 300px;
    cursor: pointer;
    font-size: 1.1rem;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    transition: .2s;
    text-decoration: none;
    color: var(--light);
}

.aside-menu:first-child{
    border-top: 1px solid rgba(255,255,255,0.1);
}

.aside-menu-item:hover {
    background-color: var(--light);
    color: var(--dark);
}

aside #section-3 {
    display: grid;
    grid-template-rows: auto;
    align-items: flex-end;
    gap: 5px;
    padding-bottom: 50px;
}

#counter {
    font-size: 1rem;
}

#counter #counter-value {
    color: rgb(255, 217, 0);
}

/* GLOBAL CONTENT STYLING */
.sub-title-span {
    grid-column: 1 / -1;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--dark);
    padding-bottom: 30px;
    text-align: center;
}

.text-passages {
    font-size: 1rem;
    font-weight: 300;
}

.text-passages p {
    line-height: 25px;
    padding-bottom: 30px;
}

/* FOOTER */
footer {
    grid-column: 1;
    align-items: center;
    /* justify-content: center; */
    height: auto;
    color: var(--light);
    background-color: var(--dark);
    padding: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-content {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* #copyright-and-year {
    grid-column: 1;
} */

#built-by {
    /* grid-column: 2; */
    font-size: 0.5rem;
    display: none;
}

/* GALLERY LIGHTBOX */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 50000;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#overlay-img {
    max-height: 50%;
    max-width: 50%;
}

.overlay-img-btn {
    background-color: #999;
    display: flex;
    font-size: 2rem;
    padding: 10px 15px;
}

#overlay-img-btns {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, auto);
}

#overlay-img-btns div:hover {
    background-color: #666;
}