#project-list li {
    width: auto;
    display: grid;
    grid-template-rows: auto auto;
    height: 100%;
    overflow: hidden;
    border: 1px solid var(--dark);
}

#project-list li span {
    background-color: #d5d5d5;
    width: auto;
    font-size: 0.8em;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
}

.imgCont {
    display: flex;
    align-items: center;
    background-color: #000;
    padding: 15px;
    padding-left: 20px;
    overflow-x: scroll;
}

.twoImgCont {
    display: grid;
    grid-auto-rows: auto;
    background-color: #000;
    gap: 15px;
    padding: 15px;
}

#project-list {
    --code-row-height: 15px;
    display: grid;
    gap: 15px;
}

.rows-1 {
    height: calc(1 * var(--code-row-height));
}

.rows-2 {
    height: calc(2 * var(--code-row-height));
}

.rows-3 {
    height: calc(3 * var(--code-row-height));
}

.rows-4 {
    height: calc(4 * var(--code-row-height));
}

.rows-5 {
    height: calc(5 * var(--code-row-height));
}

.rows-6 {
    height: calc(6 * var(--code-row-height));
}

.rows-7 {
    height: calc(7 * var(--code-row-height));
}

.rows-8 {
    height: calc(8 * var(--code-row-height));
}

.rows-9 {
    height: calc(9 * var(--code-row-height));
}

.rows-12 {
    height: calc(12 * var(--code-row-height));
}

.rows-22 {
    height: calc(22 * var(--code-row-height));
}