* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

:root {
  font-size: 16px;
}

@font-face {
  font-family: "prompt";
  src: url("assets/fonts/Prompt-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "prompt";
  src: url("assets/fonts/Prompt-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "prompt";
  src: url("assets/fonts/Prompt-Thin.ttf");
  font-weight: 100;
}

html {
  /* background: #0a0729; */
  /* background-color: #0c2786; */
  background-color: #000;
  /* background-attachment: fixed; */
}

body {
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  /* padding: 20px; */
  /* font-family: "Montserrat", sans-serif; */
  font-family: "prompt", sans-serif;
}

ul {
  list-style-type: none;
}

#content {
  height: 100%;
  width: 100%;
  /* border: 1px solid #777; */
  display: flex;
  position: relative;
  color: #000;
}

.contentDiv {
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  text-align: center;
}

.panel {
  height: 100%;
}

#left-panel {
  /* background-color: #0c2786; */
  background-color: #021552;
  width: 20%;
  /* padding: 10px;
  padding-right: 0; */
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 2px;
}

#left-panel-content {
  height: 100%;
  /* border: 1px solid rgba(255, 255, 255, 0.15); */
  /* background-color: rgba(0, 0, 0, 0.75); */
  /* background-color: #FFF; */
  font-size: 2rem;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(4, 1fr);
  color: #fff;
}

#content-1 {
  display: grid;
  grid-template-rows: repeat(4, auto);
}

#myName {
  font-size: 2.5rem;
  font-weight: 600;
}

#myEmail a,
#myNumber a {
  font-size: 1.25rem;
  font-weight: 100;
  text-decoration: none;
  color: #fff;
}

#content-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcons {
  height: 20px;
  margin: 0 10px;
  transition: transform 0.2s;
}

.socialIcons:hover {
  transform: scale(1.15);
}

#myImage {
  height: 150px;
  width: 150px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: peachpuff;
}

#myImage img {
  height: 100%;
  width: 100%;
}

#content-3 {
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  /* padding-bottom: 20px; */
}

#content-3 ul li {
  padding: 2.5px 0px;
  cursor: pointer;
  transition: transform 0.2s;
}

#content-3 ul li:hover {
  /* color: #aaa; */
  transform: scale(1.15);
}

#content-4 {
  font-size: 1.1rem;
  font-weight: 100;
  /* padding-bottom: 20px; */
}

#right-panel {
  /* background-color: red; */
  width: 80%;
  /* padding: 10px; */
  height: auto;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 20%;
  border-left: 2px solid #000;
}

#right-panel-content {
  display: grid;
  height: 100%;
  /* gap: 10px; */
  /* grid-template-rows: repeat(4, auto); */
  grid-template-rows: repeat(5, auto);
}

.row {
  /* border: 1px solid rgba(255, 255, 255, 0.15); */
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.75); */
  background-color: #fff;
  /* border-radius: 2px; */
  border-top: 2px solid #000;
  padding: 50px;
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
}

.rowTitle {
  padding-bottom: 35px;
  text-align: center;
}

.rowTitle span {
  color: #000;
  font-size: 2.25rem;
  text-transform: capitalize;
  /* position: absolute;
  left: 30px;
  top: 30px; */
}

#row-0 {
  border-top: none;
  /* height: 250px; */
  /* height: auto; */
  /* width: 100%; */
  /* display: grid; */
  /* grid-template-columns: auto; */
  /* justify-content: end;
  text-align: justify;
  text-justify: inter-word; */
}

#row-1 {
  /* height: 250px; */
  /* height: auto; */
  /* width: 100%; */
  /* display: grid;
  grid-template-columns: auto;
  justify-content: end; */
}

.contentTextPassages {
  /* position: absolute;
  left: 20px;
  bottom: 20px; */
  text-align: center;
  line-height: 25px;
  /* text-align: justify; */
  text-justify: inter-word;
  font-size: 1.2rem;
  font-weight: 400;
}

#row-2 {
  /* height: auto; */
  /* width: 100%; */
}

.rowContentExtraProjects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 35px;
}

.project-container {
  background-image: url("assets/images/diagram.png");
  background-size: cover;
  /* background-attachment: fixed; */
  z-index: 4;
  border-radius: 2px;
  overflow: hidden;
}

.project {
  /* z-index: 5; */
  position: relative;
  height: 250px;
  /* width: 350px; */
  width: 100%;
  border: 1px solid #000;
  color: #fff;
  /* background-color: silver; */
  cursor: pointer;
  transition: 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  /* overflow: hidden; */
  border-radius: 5px;
}

.project-container .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 5;
  transition: background-color 0.2s;
  filter: blur(1px);
}

.project-details {
  z-index: 6;
}

.project:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

#row-3 {
  /* padding: 5px; */
  /* height: auto;
  width: 100%; */
  /* background-color: azure; */

  /* padding-top: 31px; */
}

.rowContentExtraBadges {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 170px);
  gap: 15px;
}

.badge {
  /* width: auto;
  height: auto; */
  background-color: #fff;
  /* padding: 10px; */
}

.badge img {
  height: 175px;
}

#row-4 {
  /* height: 750px;
  width: 100%; */
}

#row-5 {
  /* height: 250px;
  width: 100%; */
}

footer {
  background-color: #000;
  color: #fff;
  height: 200px;
  width: 100%;
}

#counter-value {
  color: #fff;
}
